/*UTEIS*/
/*CMS - SISTEMA DE GERENCIAMENTO DO SITE*/

#conteudo_cms{
    width: 1400px;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}


#headerCMS{
    width: inherit;
    height: 200px;
    background-color: rgb(221, 218, 218);
}

#titulo_cms{
    width: 1000px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 10px;
    float: left;
    /*font*/
    font-family: MeganJune;
    font-size: 50px;
}

#logo_site_cms{
    width: 400px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}

#caixa_menu_nome_usuario_cms{
    width: inherit;
    height: 200px;
    background-color: rgb(141, 140, 140);
}

#caixa_conteudo_menu_cms{
    width: 1000px;
    height: inherit;
    float: left;
}

.cardMenu{
    width: 200px;
    height: inherit;
    margin-left: 30px;
    float: left;
}
.cardMenu:hover{
    transition: 0.1s;
    transform: translate(0px, -8px);
    cursor: pointer;
}

.caixa_img_menu{
    width: inherit;
    height: 150px;
    box-sizing: border-box;
    padding-top: 7px;
}

.img_menu_cms{
    width: 135px;
    height: 135px;
}

.img-header-cms{
    width: 350px;
    height: 160px;
}

.caixa_nome{
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    /*font*/
    font-family:MeganJune;
    font-weight: bold;
    color: rgb(227, 233, 233);
    font-size: 30px;
}

#caixa_nome_usuario{
    width: 400px;
    height: inherit;
    float: left;
}

#nome_usuario{
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 10px;
    /*font*/
    font-family: MeganJune;
    color: rgb(235, 233, 231);
    font-size: 25px;
    font-weight: bold;
}
#logout{
    width: inherit;
    height: 50px;
    margin-top: 90px;
    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 320px;
    /*Fonte*/
    
}

#logout_efeito{
    color: azure;
    cursor: pointer;
    font-family: MeganJune;
    font-size: 30px;
    font-weight: bold;
}

#menu_de_adm{
    width: inherit;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    
    background-color: rgb(65, 64, 64);
    padding-top: 20px
}
#chartDiv{
    width: 1300px; 
    height: auto;  
    overflow: hidden; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white; 
    padding: 10px;
}

.conteudo_editavel{
    width: 600px;
    height: 150px;
    box-sizing: border-box;
    margin-left: 60px;
    margin-bottom: 20px;
    background-color: rgb(190, 186, 186);
    float: left;
}

.conteudo_editavel:hover{
    transition: 0.3s;
    cursor: pointer;
    border-left: solid 10px black;
}

.img_conteudo_editavel{
    width: 150px;
    height: inherit;
    float: left;
}

.mensagem_conteudo_editavel{
    width: 400px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 55px;
    padding-left: 20px;
    background-color: rgb(190, 186, 186);
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
    font-weight: bold;
    color:black !important;
}

/*TABELA DA PAGINA FALE CONOSCO*/
#cms_table_fale_conosco{
    width: 1300px;
    overflow: hidden;
}

#cms_thead{
    height: 30px;
    box-sizing: border-box;
    background-color: black;
    font-family: MeganJune;
}
#cms_thead td{
    color: white;
    box-sizing: border-box;
    text-align: left;
}

.cms_tbody{
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(238, 235, 235);
    font-family: MeganJune;
}

td{
    font-size: 30px;
    height: 40px;
    word-wrap: break-word;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
}
/*********************************************/


/*TABELA DA MODAL DO FALE CONOSCO*/
#tabela_modal_fale_conosco{
    width: 100%;
    background-color: black
}

.tbody_modal_fale_conosco{
    width: inherit;
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(238, 235, 235);
    font-family: MeganJune;
}
.tbody_modal_fale_conosco td{
    font-size: 40px;
    width: inherit;
    height: 40px;
    word-wrap: break-word;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: left;
}
#thead_modal_fale_conosco{
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: MeganJune;
}
#thead_modal_fale_conosco td{
    font-size: 35px;
    word-wrap: break-word;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    color: white;
    text-align: left;
}
#textArea_modal_fale_conosco{
    width: 410px;
    height: 150px;
    border-radius: 15px;
    resize: none;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 8px;
    /*Font*/
    font-family: MeganJune;
    font-size: 35px;
    color:black;
}

/************************************/

/***************USUARIO*********************/


#card_criar_usuario{
    width: 800px;
    min-height: 450px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 120px;
    padding-top: 20px;
    background-color: rgb(141, 140, 140);  
    margin-bottom: 50px; 
    float: left;
}

.segura_caixa_usuario{
    width: inherit;
    height: 80px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 250px;
    padding-top: 30px;
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
    color: aliceblue;
}


.caixa_usuario{
    width:  280px;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 5px;
    border: none;
    font-size: 30px;
    font-family: MeganJune;
}
#cmb_nivel_usuario{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    margin-left: 350px;
    margin-top: 15px;
    font-family: MeganJune;
    font-size: 30px;
}

#cmb_nivel_usuario:focus{
    outline: none;
}

#segura_botao_criar_usuario{
    width: 270px;
    height: 50px;
    margin-left: 530px;
    margin-top: 55px;
    box-sizing: border-box;
    padding-left: 40px;
}

.botao_cadastro_usuario{
    width: 100px;
    height: 50px;
    border: none;
    margin-right: 10px;
    border-radius: 10px;
    background-color: floralwhite;
    font-size: 25px;
    font-family: MeganJune;
    font-weight: bold;
}

.botao_cadastro_usuario:hover{
    cursor: pointer;
    transform: scale(1.02);
}

#segura_tabela_usuario{
    width: inherit;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

#table_usuarios{
    width: 1300px;
    overflow: hidden;
}

#thead_usuario{
    height: 30px;
    box-sizing: border-box;
    background-color: black;
    font-family: MeganJune;
    color:white;
}

.tbody_usuario{
    height: 35px;
    box-sizing: border-box;
    background-color: white;
    font-family: MeganJune;
    color: black;
}

#menu_cadastro_nivel{
    width: 200px;
    height: 50px;
    border-radius: 0px 20px 20px 0px;
    box-sizing: border-box;
    padding-top: 11px;
    padding-left: 15px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    float: left;
    /*font*/
    font-size: 25px;
    font-family: MeganJune;
    color: black !important;
}
#menu_cadastro_nivel:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 9px rgb(180, 180, 180);
}

/*********************************************/
/********modal criando nivel******************/
#segura_cadastro_nivel{
    width: 1000px;
    height: 823px;
    margin-top: 70px;
    margin-bottom: 40px;
}
#card_cadastro{
    width: 600px;
    height: 345px;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 10px;
    background-color: rgb(113, 113, 114);
}
.caixa_cadastro_nivel{
    width: inherit;
    height: 120px;
    margin-top: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    /*Fontwe*/
    font-size: 25px;
    font-family: MeganJune;
    font-weight: bold;
    color: white;
}



#txt_nome_nivel{
    width: 160px;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 25px;
    font-family: MeganJune;
    border:none;
}
#txt_nome_nivel:focus{
    outline: none;
}
#cmb_cadastro_nivel{
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 80px;
    padding-left: 5px;
    border-radius: 15px;
    font-family: MeganJune;
    font-size: 25px;
}

#segura_table{
    width: inherit;
    height: 340px;
    overflow: auto;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(113, 113, 114);
}
#segura_btn_cadastro_nivel{
    width: 225px;
    height: 60px;
    margin-top: 10px;
    margin-left: 380px;
}

#table_modal_nivel{
    width: 100%;
}

#thead_nivel{
    height: 30px;
    box-sizing: border-box;
    background-color: black;
    font-family: MeganJune;
    color:white;
}

.tbody_nivel{
    height: 35px;
    box-sizing: border-box;
    background-color: white;
    font-family: MeganJune;
    color: black;
}
#segura_icone_sair{
    width: 70px;
    height: 70px;
    position: fixed;
    margin-left: 620px;
}
/*****************************************/
.icon{
    margin-top: 5px;
    margin-right:  10px;
}
.icon:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.iconSemMargin{
    margin: 0 !important;
}

#footerCMS{
    width: inherit;
    height: 50px;
    background-color: silver;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    /*font*/
    font-family: MeganJune;
    font-size: 25px;
    font-weight: bold;
}

/****SOBRE DA EMPRESA****/

#conteudo_paginas_conteudo{
    width: inherit;
    min-height: 500px;
    padding-top: 1px;
    height: auto;
    display:flex;
    background-color: rgb(65, 64, 64);
}

#menu_card_cadastro{
    width: 300px;
    box-sizing: border-box;
    padding-top: 20px;
}

.itens_card_cadastro{
    width: 250px;
    height: 70px; 
    margin-top: 15px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 0px 30px 30px 0px;
    padding-top: 18px;
    padding-left: 35px;
    cursor: pointer;
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
    color: black !important;
}
.itens_card_cadastro:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 9px rgb(180, 180, 180);
    font-weight: bold;
}
.formataDiv_cadadostro{
    padding-left: 0px !important;
    padding-top: 2px !important;
    text-align: center;
}

#segura_table_conteudo{
    width: 1100px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 20px;
}


/*table padr*/
#table{
    width: 1000px;
}
#table_cem{
    width: 100%;
}
#thead{
    height: 50px;
    box-sizing: border-box;
    background-color: black;
    font-family: MeganJune;
    color:white;
}
#thead_formata{
    height: 50px;
    box-sizing: border-box;
    background-color: black;
    font-family: MeganJune;
    color:white;
}

#thead #thead_formata td{
    font-size: 30px;
    word-wrap: break-word;
    padding-left: 20px;
}

.tbody{
    height: 50px;
    box-sizing: border-box;
    background-color: white;
    font-family: MeganJune;
    color:black;
}
.tbody td{
    font-size: 35px;
    word-wrap: break-word;
    padding-left: 20px;
}
/**************************/
/**Cadastrar sobre**/
#card_cadastrar_sobre{
    width: 700px;
    height: 500px;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: rgb(113, 113, 114);
}
#segura_titulo_imagem{
    width: inherit;
    height: 150px;
}
#caixa_titulo{
    width: 400px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 20px;
    /*Font*/
    font-size: 30px;
    font-family: baronBold;
}
#text_cadastro_titulo{
    width: 250px;
    height: 43px;
    font-size: 30px;
    font-family: baronBold;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
}
#caixa_imagem{
    width: 300px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 70px;
    padding-left: 2px;
}

#segura_textArea{
    width: inherit;
    height: 260px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 90px;
}

#textA_sobre{
    width: 500px;
    height: 200px;
    border-radius: 20px;
    resize: none;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 25px;
    font-family:'Arial Narrow Bold', sans-serif;
}
#segura_botao_sobre{
    width: inherit;
    height: 90px;
    box-sizing: border-box;
    padding-left: 580px;
    padding-top: 33px;
}
#foto_sobre{
    width: 400px;
    height: 350px;
    position: fixed;
    margin-left: 800px;
    margin-top: -430px;
}
/*******************/
/*********LOJAS*******/

/*modal cadastrar lojas*/
#card_cadastrar_loja{
    width: 700px;
    height: 420px;
    padding-top: 20px;
    border-radius: 15px;
}
.card_txt_modal_lojas{
    width: inherit;
    height: 100px;
    overflow: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.segura_txt_1{
    width: 370px;
    height: inherit;
    background-color: rgb(153, 153, 153);
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 25px;
    /*font*/
    font-size: 35px;
    font-family: MeganJune;

}
.segura_txt_2{
    width: 330px;
    height: inherit;
    background-color: silver;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 25px;
    /*font*/
    font-size: 35px;
    font-family: MeganJune;
}
#segura_botao_loja{
    box-sizing: border-box;
    float: right;
}
.txt_lojas{
    width: 180px;
    height: 40px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    padding-left: 15px;
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
}
.txt_lojas:focus{
    outline: none;
}
/***********************/

/*********************/
/*GERENCIAR ATOR*/
.card_ator{
    width: 1000px;
    height: 200px;
    box-sizing: border-box;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(235, 233, 231);
}
.imagem_ator{
    width: 200px;
    height: 180px;
    margin-left: 10px;
    float: left;
}
.nome_bio_ator{
    width: 470px;
    height: 180px;
    float: left; 
}
.caixa_opcoes{
    width: 90px;
    height: 100px;
    margin-top: 35px;
    margin-left: 15px;
    float: left;
}
.nome_ator{
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 10px; 
    padding-right: 20px; 
    /*Limitando tamanho de caracateres*/

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    /*font*/
    font-size: 35px;
    font-family: MeganJune;
}
.bio_ator{
    width: inherit;
    height: 130px;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    word-wrap: break-word;

    /*Limitando tamanho de caracateres*/
    overflow: auto;
    text-overflow: ellipsis;
    white-space: unset;
    /*Pergunta para o prefesor como limeitar com altura da div*/
    

    /*font*/
    font-size: 30px;
    font-family: MeganJune;
}

/***************/
/*MODAL CADASTRAR ATOR*/
#card_cadastrar_ator{
    width: 700px;
    min-height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 10px;
}
.segura_caixa_ator{
    width: inherit;
    height: 100px;
    margin-top: 10px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    overflow: hidden;
}
.caixa_ator{
    width: 350px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    /*Font*/
    font-size: 35px;
    font-family: MeganJune;
    color: white;
}
#segura_textArea_ator{
    width: inherit;
    height: 200px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(82, 82, 82);
    margin-top: 10px;
    margin-bottom: 10px;
    /*Font*/
    font-size: 35px;
    font-family: MeganJune;
    color: white;
}
.txt_ator{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
    padding-left: 15px;
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
}
.txt_ator:focus{
    outline: none;
}
#textArea_ator{
    resize: none;
    width: 300px;
    height: 120px;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
}

#segura_imagem_ator{
    width: 300px;
    height: 300px;   
    background-color: burlywood;
    position: fixed;
    margin-left: 730px;
    margin-top: -450px;
}
#segura_table_ator{
    width: 500px;
    height: 100px;
    overflow: auto;
    border-radius: 20px;
    box-sizing: border-box;
}
#segura_botao_ator{
    box-sizing: border-box;
    float: right;
    margin-top: 25px;
    margin-right: 35px;
}

/*MODAL COLOCAR ATOR EM FILME*/
#card_colocar_ator{
    width: 400px;
    min-height: 295px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: rgb(153, 152, 150);
}
.segura_combo_colocar_ator_filme{
    width: inherit;
    min-height: 90px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 65px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.botao_adicionar_filme{
    width: 100px;
    height: 50px;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    background-color: floralwhite;
    /*font*/
    font-size: 25px;
    font-family: MeganJune;
    font-weight: bold;
    margin-left: 230px;
}
.botao_adicionar_filme:hover{
    cursor: pointer;
    transform: scale(1.02);
}
/*****************************************/

/**PAGINA FILME DO MES**/
#segura_pagina_filme_mes{
    width: inherit; 
}

.card_filme_mes{
    width: 1100px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: rgb(24, 24, 24);
}
.card_filme_produto{
    width: 1100px;
    height: 230px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: rgb(24, 24, 24);
}

.img_filme_mes{
    width: 180px;
    height: 190px;
    margin-left: 5px;
    float: left;
    background-color: rgb(147, 151, 155);
}
.img_filme_produto{
    width: 180px;
    height: 220px;
    margin-left: 5px;
    float: left;
    background-color: rgb(147, 151, 155);
}

.atributos_filme_mes{
    width: 910px;
    height: 190px;
    float: left;
}
.atributos_filme_produto{
    width: 820px;
    height: 210px;
    margin-top: 10px;
    float: left;
}

.titulo_filme_mes{
    width: 890px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(212, 214, 214);
    box-sizing: border-box;
    padding-top: 7px;
    /*font*/
    text-align: center;
    font-size: 30px;
    font-family:  baronBold;
}
.titulo_filme_produto{
    width: 810px;
    height: 50px;
    margin-left: 9px;
    border-radius: 10px;
    background-color: rgb(212, 214, 214);
    box-sizing: border-box;
    padding-top: 7px;
    /*font*/
    text-align: center;
    font-size: 30px;
    font-family:  baronBold;
}
.segura_atributos_filme{
    width: 400px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: rebeccapurple;
    float: left;
}
.segura_atributos_produto{
    width: 400px;
    height: 144px;
    margin-left: 9px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: rebeccapurple;
    float: left;
}


.atributos_filme{
    width: inherit;
    height: 60px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgb(212, 214, 214);
    /*font*/
    font-family: baronBold;
    font-size: 20px;
}

.atributos_produto{
    width: inherit;
    height: 74px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgb(212, 214, 214);
    /*font*/
    font-family: baronBold;
    font-size: 20px;
}

.ativar_desativar_filme_mes{
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 7px;
    border-radius: 20px;
    box-sizing: border-box;
    padding-bottom: 550;
    background-color: rgb(255, 255, 255);
    float: left;
}

.filme_produto{    
    width: 80px;
    height: 220px;
    overflow: hidden;
    margin-left: 7px;
    border-radius: 20px;
    box-sizing: border-box;
    padding-bottom: 550;
    background-color: rgb(255, 255, 255);
    float: left;
}
.opcoes_produto{
    width: 70px;
    height: 70px;
    margin-top: 2px;
}
/*************************************/

/********PROMOCOES*************/

#card_promocoes{
    width: 450px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 20px;
    box-sizing: border-box;

    background-color: rgb(184, 182, 182);
}

.segura_caixas_promocao{
    width: 350px;
    height: 100px;
    margin-top: 70px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 10px;
    float: left;
}
#segura_caixa_promocao_percentagem{
    width: 100px;
    height: 100px;
    margin-top: 70px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 10px;
    float: left;
}
#combo_promocao{
    width: 340px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color:aliceblue;
    box-sizing: border-box;
    padding-left: 10px;
    /*font*/
    font-family: MeganJune;
    font-weight: bold;
    font-size: 20px;
}
#combo_promocao:focus{
    outline: none;
}
#txt_promocao{
    width: 55px;
    height: 50px;
    border: solid 1px black;
    border-radius: 15px;
    box-sizing: border-box;
    padding-left: 6px;
    /*font*/
    font-family: MeganJune;
    font-size: 30px;
}
#txt_promocao{
    outline: none;
}
#porcentagem{
    font-size: 30px;
}
/**************************************/
/**************PRODUTOS****************/
#card_cadastrar_produto{
    width: 1000px;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    border-radius: 25px;
    box-sizing: border-box;
    padding-top: 10px;
    background-color: rgb(114, 112, 112);
    margin-bottom: 50px;
}
.segura_caixas_produto{
    width: inherit;
    height: 90px;
    box-sizing: border-box;
    margin-top: 15px;
}
.segura_txt_produto{
    width: 500px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-left: 50px;
    /*font*/
    font-family: MeganJune;
    font-size: 26px;
    font-weight: bold;
    color: white;

}
.txt_produto{
    width: 260px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
    box-sizing: border-box;
    padding-left: 15px;
    /*Font*/
    font-family: MeganJune;
    float: left;
    font-size: 26px;
}
.txt_produto:focus{
    outline: none;
}
#segura_imagem_sinopse{
    width: inherit;
    height: 460px;
    padding-top: 15px;
    box-sizing: border-box;
    margin-top: 10px;
}
.ver_atributos_filme{
    width: 100px;
    height: 50px;
    border: none;
    margin-right: 10px;
    border-radius: 10px;
    background-color: floralwhite;
    font-size: 25px;
    margin-top: 13px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-family: MeganJune;
    font-weight: bold;
}
.ver_atributos_filme:hover{
    cursor: pointer;
    transform: scale(1.02);
}
#segura_botoes_filme{
    width: 150px;    
    height: 200px;
    position: absolute;
    margin-left: 815px;
    margin-top: 30px;
}

#segura_img_filme{
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
    background-color: antiquewhite;
}
#txt_produto_sinopse{
    width: 450px;
    height: 300px;
    border-radius: 15px;
    resize: none;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 50px;
    margin-left: 20px;
    /*Font*/
    font-family: MeganJune;
    font-size: 35px;
    color:black;
}
.adicionar{
    width: 55px;
    height: 55px;
    margin-left: 10px;
    float: left;
}
/**************************************/
/**********MODAL CONSULTAR****************/
#segura_table_consultar{
    width: inherit;
    height: 500px;
    overflow: auto;
    background-color: rgb(38, 39, 39);
    border-radius: 20px;
}

/**************************************/
/*MODAL */
#conteiner{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.664);
    position: fixed;
    padding-top: 50px;
    margin-top: -50px;
    z-index: 999;
    display: none;
}
#modal{
    width: 600px;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

#modal_larga{
    width: 1000px;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#segurar_fechar_modal{
    width: 600px;
    height: 70px;
    margin-top: 40px;
}
#fechar_modal{
    width: 70px;
    height: 70px;
    position: fixed;
    margin-left: 530px;
}
/***************************************/
/*DISTRIBUIDORA*/
#segura_cadastro_distribuidora{
   width: 500px;
   min-height: 500px; 
   height: auto;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   padding-top: 130px;
   padding-bottom: 175px;
}
#text_distribuidora{
    width: 400px;
    height: 50px;
    border:none;
    border-radius: 20px;
    padding-left: 10px;
    font-family: MeganJune;
    font-size: 30px;
}
#cadastro_distribuidora{
    width: inherit;
    height: 165px;
    background-color: rgb(117, 117, 117);
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 50px;
    font-family: MeganJune;
    font-size: 25px;
    color: white;
}
#segura_cadastrados{
    width: inherit;
    height: 300px;
    overflow: auto;
    margin-top: 60px;
    border-radius: 20px;
}

#sair_distribuidora{
    width: 100px;
    height: 100px;
    position: fixed;
    margin-left: 550px;
}



#reacionaGenero{
    width: 250px;
    height: 70px; 
    margin-top: 15px;
    margin-left: -300px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 30px;
    position: absolute;
    padding-top: 18px;
    padding-left: 35px;
    cursor: pointer;
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
    color: black !important;
}

#reacionaGenero:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 9px rgb(180, 180, 180);
    font-weight: bold;
}


/*fim da cms*/
