/*UTEIS*/

/*CMS - SISTEMA DE GERENCIAMENTO DO SITE*/

#conteudo_cms{
    width: 1400px;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(89, 152, 224);
}

#headerCMS{
    width: inherit;
    height: 200px;
    background-color: rgb(221, 218, 218);
}

#titulo_cms{
    width: 1000px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 10px;
    float: left;
    /*font*/
    font-family: MeganJune;
    font-size: 50px;
}

#logo_site_cms{
    width: 400px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}

#caixa_menu_nome_usuario_cms{
    width: inherit;
    height: 200px;
    background-color: rgb(141, 140, 140);
}

#caixa_conteudo_menu_cms{
    width: 1000px;
    height: inherit;
    float: left;
}

.cardMenu{
    width: 200px;
    height: inherit;
    margin-left: 30px;
    float: left;
}
.cardMenu:hover{
    transition: 0.1s;
    transform: translate(0px, -8px);
    cursor: pointer;
}

.caixa_img_menu{
    width: inherit;
    height: 150px;
    box-sizing: border-box;
    padding-top: 7px;
}

.img_menu_cms{
    width: 135px;
    height: 135px;
}

.img-header-cms{
    width: 350px;
    height: 160px;
}

.caixa_nome{
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    /*font*/
    font-family:MeganJune;
    font-weight: bold;
    color: rgb(227, 233, 233);
    font-size: 30px;
}

#caixa_nome_usuario{
    width: 400px;
    height: inherit;
    float: left;
}

#nome_usuario{
    width: inherit;
    height: 50px;
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 10px;
    /*font*/
    font-family: MeganJune;
    color: rgb(235, 233, 231);
    font-size: 25px;
    font-weight: bold;
}
#logout{
    width: inherit;
    height: 50px;
    margin-top: 90px;
    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 320px;
    /*Fonte*/
    
}

#logout_efeito{
    color: azure;
    cursor: pointer;
    font-family: MeganJune;
    font-size: 30px;
    font-weight: bold;
}

#menu_de_adm{
    width: inherit;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    
    background-color: rgb(65, 64, 64);
    padding-top: 20px
}

.conteudo_editavel{
    width: 600px;
    height: 150px;
    box-sizing: border-box;
    margin-left: 60px;
    margin-bottom: 20px;
    background-color: rgb(190, 186, 186);
    float: left;
}

.conteudo_editavel:hover{
    transition: 0.3s;
    cursor: pointer;
    border-left: solid 10px black;
}

.img_conteudo_editavel{
    width: 150px;
    height: inherit;
    float: left;
}

.mensagem_conteudo_editavel{
    width: 400px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 55px;
    padding-left: 20px;
    background-color: rgb(190, 186, 186);
    /*font*/
    font-size: 30px;
    font-family: MeganJune;
    font-weight: bold;
}

/*TABELA DA PAGINA FALE CONOSCO*/
#cms_table_fale_conosco{
    width: 1300px;
    overflow: hidden;
}

#cms_thead{
    height: 30px;
    box-sizing: border-box;
    background-color: black;
    font-family: MeganJune;
}
#cms_thead td{
    color: white;
    box-sizing: border-box;
    text-align: left;
}

#cms_tbody{
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(238, 235, 235);
    font-family: MeganJune;
}

td{
    font-size: 30px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
}
/*********************************************/
/*MODAL FALE CONOSCO*/
#conteiner{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.664);
    position: fixed;
    margin-top: -50px;
    z-index: 999;
    display: none;
}
#modal{
    width: 600px;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}
#segurar_fechar_modal{
    width: 600px;
    height: 70px;
    margin-top: 50px;
}
#fechar_modal{
    width: 70px;
    height: 70px;
    position: fixed;
    margin-left: 530px;
}
/***************************************/

/*TABELA DA MODAL DO FALE CONOSCO*/
#tabela_modal_fale_conosco{
    width: 100%;
    background-color: black
}

.tbody_modal_fale_conosco{
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(238, 235, 235);
    font-family: MeganJune;
}
.tbody_modal_fale_conosco td{
    font-size: 40px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: left;
}
#thead_modal_fale_conosco{
    height: 30px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: MeganJune;
}
#thead_modal_fale_conosco td{
    font-size: 35px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    color: white;
    text-align: center;
}


/************************************/

/***************USUARIO*********************/

















/*********************************************/

.icon{
    margin-top: 5px;
    margin-right:  10px;
}
.icon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#footerCMS{
    width: inherit;
    height: 50px;
    background-color: silver;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    /*font*/
    font-family: MeganJune;
    font-size: 25px;
    font-weight: bold;
}




/*fim da cms*/