
title{
    padding: 0;
}

*,figure{
    margin: 0;
    padding: 0; 
    
}
.scrollTexto::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.scrollTexto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px rgb(255, 255, 255); 
    border-radius: 0px 30px 30px 0px;
}

/* Handle */
.scrollTexto::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 0px 30px 30px 0px;
}

/* Handle on hover */
.scrollTexto::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
del{
    color: rgb(219, 30, 30);
}

/*CLASSE UTIL PRA JS*/
.erro::placeholder{
    color: rgb(212, 101, 101);
}

a{
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: white;
}

.zindexzero{
    z-index: 2 !important;
    
}

.espaco_entre_paragrafos{
    margin-bottom: 20px;
}

.formata_atributo{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: robotoLight;
    color: rgb(199, 199, 199);    
}

.formata_atributo_mobile{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 5px;
    font-family: robotoLight;
    color: rgb(199, 199, 199);    
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.border-radius-img{
    border-radius: inherit;
}

.imgSlider{
    display: none;
}

.img-size{
    width: inherit;
    height: inherit;
}

.back-size{
    background-repeat: no-repeat;
    background-size: cover;
}


body{
    background-image:linear-gradient(hsl(0, 0%, 7%), hsl(0, 0%, 20%));
}
/*aqui fica o header*/


@media screen and (min-device-width:1000px){

    /*conteudo*/

    .conteudo{
        width: 1400px;
        /*para a div espandir*/
        min-height: 700px;
        height: auto;
        overflow: hidden;
        margin-top: 0px;
        box-sizing: border-box;

    }

    /*redes sociais*/
    .caixa_rede_social{
        width: 160px;
        height: 500px;
        margin-left: 1410px;
        margin-top: -600px;
        box-sizing: border-box;
        padding-top: 100px;
        position: fixed;
    }

    .rede_social{
        width: 100px;
        height: 100px;
        margin-left: 4px;
        margin-top: 20px; 
        border: solid 2px black;
        border-radius: 50px;
        transition: 0.5s;
    }

    .rede_social:hover{
        transition: 0.5s;
        transform: scale(1.1);
        cursor: pointer;
    }

    /*fIM DAS REDES SOCIAIS*/




    /* caixa slider*/
    .slider{
        width: 1400px;
        height: 745px;
        box-sizing: border-box;
        padding-top: 5px;
        z-index: 0;
        background-color: black;
    }
    #imagem_mobile{
        display: none;
    }

    /*FIM DA CAIXA SLIDER*/


    /*********************FIM MEU INTERNO DA PAGINA PRINCIPAL**************************/
    .item_conteudo{
        width: inherit;
        /***/
        min-height: 700px;
        height: auto;
        /* overflow: hidden; */

        display: flex;

    }

    .caixa_item{
        width: 200px;

        float: left;
        border: solid 3px rgba(122, 15, 15, 0.801);
    }

    .menu_item{
        width: inherit;
        min-height: 450px;
        height: 100%;
        overflow: hidden;
    }

    .menu_item ul{
        width: inherit;
        
        min-height: 450px;
        height: 100%;
        overflow: hidden;
        
        background-color: rgb(14, 13, 13);
    }

    .menu_item li{
        width: 170px;
        height: 50px;
        margin-top: 20px;
        list-style: none;
        box-sizing: border-box;
        padding-left:20px;
        padding-top: 10px;
        margin-left: 15px;
        margin-bottom: 15px;
        border: solid 1px rgb(39, 39, 39);
        transition: 0.5s;
        text-align: left;
        /*font*/
        font-size: 28px;
        font-family: MeganJune;
        color: white;
    }

    .menu_item li:hover {
        transition: 0.2s;
        transform: rotate(5deg) scale(1.05);
        cursor: pointer;
        color: rgb(187, 48, 48);
        border: solid 2px white;  
    }
    /*********************FIM MEU INTERNO DA PAGINA PRINCIPAL**************************/





    .caixa_produto{
        width: 1186px;
        /**/
        min-height: 451px;
        height: auto;
        overflow: hidden;
        
        margin-left: 5px;
        float: left;
        border: solid 3px rgba(138, 7, 7, 0.589);
        background-color: rgb(14, 13, 13);
    }

    /*Card dos produtos*/    
    .produto{
        width: 350px;
        height: 450px;
        margin-left: 25px;
        margin-top: 50px;
        margin-bottom: 25px;
        float: left;
        border: solid 4px rgb(177, 13, 13);
        border-radius: 15px; 
        background-color: rgb(34, 33, 33);
        
        /*font*/
        color:rgb(250, 239, 239);
        font-family: 'Arial Narrow', Arial, sans-serif;
    }

    .produto_mobile{
     display: none;
    }
    .produto_caixa_imagem{
        width: inherit;
        height: 250px;
        padding-top: 24px;
        box-sizing: border-box;
    }
    .produto_caixa_imagem_mobile{
        display: none;
    }

    .produto_imagem{
        width: 180px;
        height: 200px;
        background-color: gray;
        transition: 0.5s;
    }
    .produto_imagem_mobile{
        display: none;
    }

    .produto_imagem:hover{
        transition: 0.5s;
        cursor: pointer;
        transform:  scale(1.05);
    }

    .produto_caixa_descricao{
        width: inherit;
        height: 160px;
        padding-left: 5px;
        box-sizing: border-box;
        /*font*/
        font-size: 21px;
        font-family: 'Arial Narrow', Arial, sans-serif;
        line-height: 1.3;
    }
    .produto_caixa_descricao_mobile{
        display: none;
    }
    .produto_caixa_detalhes{
        width: inherit;
        height: 40px;
        padding-left: 230px;
        box-sizing: border-box;
        padding-top: 5px;

        /*font*/
        font-size: 20px;
        letter-spacing: 1.5px;
        line-height: 8px;
    }
    .produto_caixa_detalhes_mobile{
        display: none;
    }
    .botao_detalhes{
        width: 90px;
        height: 30px;
        border-radius: 10px; 
        padding-top: 15px;
        box-sizing: border-box;
        /* background-color: chocolate; */
    }
    .botao_detalhes_mobile{
        display: none;
    }
    .botao_detalhes:hover{
        transform: scale(1.2);
        cursor: pointer;
    }   

    p{
        margin-bottom: 5px;
    }
    /*FIM DO CAR DOS PRODUTOS E DA PAGINA PRICIPAL*/


    /***************sobre a locadora**********************/

    #conteudo_sobre{
        width: 1400px;
        min-height: 800px;
        height: auto;
        overflow: hidden;
        margin-top: 60px;
        border-radius: 20px;
    }

    #conteudo_sobre_mobile{
     display: none;
    }

    #titulo_sobre{
        width: inherit;
        height: 90px;
        box-sizing: border-box;
        padding-top: 10px;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(253, 61, 61);
        /*fonte*/
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: baronBold;
        font-size: 60px;
        font-weight: bold;
    }
    #titulo_sobre_mobile{
       display: none;
    }
    #quemSomos_sobre{
        width: inherit;

        min-height: 500px;
        height: auto;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(24, 23, 23);
    }

    #quemSomos_sobre_mobile{
        display: none;
    }

    #caixa_texto_quemSomos{
        width: 800px;
        min-height: 500px;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        float: left;
        /**/
    }

    #caixa_texto_quemSomos_mobile{
        display: none;
    }

    #texto_quemSomos{
        width: 750px;
        height: 520px;
        overflow: auto;
        box-sizing: border-box;
        padding: 30px;
        border-radius: 20px;
        background-color: rgb(107, 109, 109);
        word-wrap: break-word;
        /**/
        font-size: 26px;
        color: white;
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
    }

    #texto_quemSomos_mobile{
        display: none;
    }

    #imagem_quemSomos{
        width: 500px;
        height: 480px;
        margin-left: 50px;
        margin-top: 40px;
        border-radius: 20px;
        float: left;
    }

    #imagem_quemSomos_mobile{
        display: none;
    }

    #lojaAntiga{
        border-radius: 20px;
    }
    /*********************SOBRE*********************************/

    /*******************CONTATO********************************/

    #caixa_segura_contato{
        width: 1400px;
        height: 600px;
        margin-top: 80px;
        margin-bottom: 125px;
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: 20px;
    }
    #caixa_segura_contato_mobile{
        display: none;
    }

    #caixa_contato{
        width: 650px;
        height: 550px;
        border-radius: 15px;
        box-sizing: border-box;
        padding-top: 1px;
        float: left;
        background-color: rgb(82, 79, 79);
    }

    #caixa_contato_mobile{
        display: none;
    }



    .caixa_Input_text{
        width: 600px;
        height: 60px;
        margin-left: 20px;
        margin-top: 25px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 5px;
        background-color: rgb(238, 238, 238);
    }

    .caixa_Input_text_mobile{
        display: none;
    }

    .iconContatos{
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        float: left;
    }
    .iconContatos_mobile{
        display: none;
    }

    .inputContato{
        width: 500px;
        height: 50px;
        float: left;
        border: none;
        margin-left: 5px;
        /*font*/
        font-family: MeganJune;
        font-size: 30px;
        background-color:inherit;
    }
    .inputContato_mobile{
        display: none;
    }
    .inputContato:focus{
        outline: none;
    }

    #caixa_contato_esquerda{
        width: 650px;
        height: 550px;
        border-radius: 15px;
        box-sizing: border-box;
        margin-left: 50px;
        padding-top: 1px;
        float: left;
        background-color: rgb(82, 79, 79);
    }

    #caixa_contato_esquerda_mobile{
        display: none;
    }

    .caixa_Input_radio{
        width: 600px;
        height: 70px;
        margin-left: 20px;
        margin-top: 25px;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 100px;
        background-color: rgb(238, 238, 238);
    }
    .caixa_Input_radio_mobile{
        display: none;
    }

    /* input[type=radio]{
        visibility: hidden;
        margin-right: 5px;
        cursor: pointer;
    }

    input[type=radio]:before {
        content: " ";
        background-color:  rgb(66, 66, 66);
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 15px;
        visibility: visible;
        box-shadow: 0 0 0px 2px rgb(250, 0, 0);
    }

    input[type=radio]:checked:before {
        background-color: rgb(255, 0, 0);
        box-shadow: 0 0 0px 2px rgb(66, 66, 66);
    } */

    .radio_contato{
        font-size: 40px;
        margin-left: 20px;
        font-weight: bold;
        font-family: MeganJune;
        cursor: pointer;
        margin-right: 60px;
    }
    .radio_contato_mobile{
        display: none;
    }

    .caixa_text_area{
        width: 600px;
        height: 120px;
        margin-top: 20px;
        margin-left: 20px;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 40px;
    }
    .caixa_text_area_mobile{
        display: none;
    }


    .caixa_cmb{
        width: inherit;
        height: 80px;
        margin-top: 30px;
        padding-top: 16px;
        box-sizing: border-box;
        border-top: solid 2px  rgb(53, 53, 52);
        border-bottom: solid 2px rgb(53, 53, 52);
    }

    .caixa_cmb_mobile{
       display: none;
    }

    #selectAssunto{
        width: 250px;
        height: 40px;
        padding-left: 5px;
        margin-left: 190px;
        border-radius: 10px;
        font-family:  MeganJune;
        font-size: 23px;
    }

    #selectAssunto_mobile{
     display: none;
    }

    .textArea_cotato{
        width: 500px;
        height: 120px;
        resize: none;
        border-radius: 10px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 5px;
        font-family: MeganJune;
        background-color: rgb(238, 238, 238);
        font-size: 30px;
    }

    .textArea_cotato_mobile{
        display: none;
    }
    .textArea_cotato:focus{
        outline: none;
    }
    #caixa_boato_contato{
        width: 350px;
        height: 60px;
        margin-top: 20px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 25px;
    }
    #caixa_boato_contato_mobile{
       display: none;
    }

    .botao_contato{
        width: 130px;
        height: 50px;
        background-color: rgb(238, 238, 238);
        color: black;
        border: solid 1px black;
        margin-right: 30px;
        font-family: MeganJune;
        font-size: 25px;
        transition: 0.2s;
    }
    .botao_contato_mobile{
        display: none;
    }

    .botao_contato:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: black;
        color: white;
        border: solid 1px white;
    }

    /*************************CONTATO*******************/

    /*LOJAS*/

    #caixa_lojas{
        width: 1400px;
        height: 700px;
        margin-top: 50px;
        border-radius: 20px; 
    }
    #caixa_lojas_mobile{
       display: none;
    }

    #caixa_iFrame_maps_mobile{
        display: none
    }

    #caixa_iFrame_maps{
        width: 700px;
        height: inherit;
        box-sizing: border-box;
        float: left;
    }

    #iFrame_maps{
        width: 650px;
        height: 650px;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    #iFrame_maps_mobile{
        display: none;
    }
    

    #maps{
        width:650px;
        height:650px; 
        border:solid 2px black;
    }
    #maps_mobile{
        display: none;
    }
    #caixa_coodernadas{
        width: 700px;
        height: inherit;
        overflow: auto;
        box-sizing: border-box;
        float: left;
    }
    #caixa_coodernadas_mobile{
     display: none;
    }

    .coodernadas{
        width: 600px;
        height: 80px;
        margin-top: 30px;
        margin-bottom: 30px;
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 30px;
        border-radius: 15px;
        box-shadow: 2px 4px 10px rgb(185, 182, 182);
        /*font*/
        font-size: 20px;
        font-family: robotoLight;
        color: white;
    }
    .coodernadas_mobile{
      display: none;
    }
    .coodernadas:hover{
        color: orange;
        transform: scale(1.03);
        cursor: pointer;
    }


    /**********************Atores do filme*************************/

    #caixa_atores{
        width: 1400px;
        min-height: 600px;
        height: auto;
        display: flex;
        margin-top: 50px;
        box-sizing: border-box;
        padding-bottom: 40px;
        border-radius: 20px;
    }

    #caixa_imagem_ator{
        width: 700px;
        box-sizing: border-box;

        float: left;
    }

    #imagem_ator{
        width: 700px;
        height: 650px;
        margin-top: 50px;    
    }

    #caixa_historico_ator{
        width: 700px;

        float: left;
        box-sizing: border-box;
    }

    .historico_ator{
        width: 600px;
        height: 90px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 20px;
        border-bottom: solid 2px white;
        /*fonte*/
        font-size: 25px;
        color: rgb(212, 211, 211);
        font-family: baronBold;
    }

    .titulo_topico{
        font-size: 30px;
        color: rgb(226, 223, 223);
        font-family: baronBold;
        font-weight: bold;
    }   

    /* cass para caixa retratio*/
    .linha_historico{
        vertical-align: top;
        min-height: 80px;
        height: auto !important;
        margin-bottom: 20px;
    }
    /*class que vai tirar o conteúdo*/
    .caixa_conteudo_hide {
        display:none; 
        box-sizing: border-box;
    }
    /*class parar organizar o conteúdo*/
    .conteudo_topico{
        width: inherit;
        height: inherit;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: justify;
        word-wrap: break-word;
        font-family: CabinMedium;
        font-size: 35px;
        line-height: 50px;;
    }
    .conteudo_topico_mobile{
       display: none;
    }
    /*caixa que segura os filmes participados*/
    .filme_participado{
        width: inherit;
        min-height: 200px;
        height: auto;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    /*filmes de participação em cartaz*/
    .filmes_participados{
        width: 300px;
        height: 500px;
        margin-left: 75px;
        margin-top: 20px;
        background-color: rgb(0, 0, 0);
        border-radius: 0px 0px 40px 40px;
        border: solid 3px rgb(96, 96, 99);
        float: left;
    }

    /*Class para menu retratio*/

    .show {
        display: none; 
    }
    .hide:target + .show {
    display: inline; 
    }
    .hide:target {
        display: none; 
    }
    .hide:target ~ .caixa_conteudo_hide {
        display:inline; 
    }

    @media print{ 
        .hide, .show{ 
            display: none; 
        }
    }

    /*fim de class para menu retratio*/
    #caixa_retratio_ator{
        width: 1400px;
        min-height: 400px;
        height: auto;
        overflow: hidden;
        padding-bottom: 20px;
        border-radius: 20px;
        background-color:  rgb(22, 22, 22);
    }

    /*MENU RETRATIO GRANDE*/
    .historico_ator_retratio{
        width: 1200px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 20px;
        border-bottom: solid 2px white;
        /*fonte*/
        font-size: 25px;
        color: rgb(212, 211, 211);
        font-family: baronBold;
    }
    /*DANDO DISPLAY NONE NO MOBILE*/
    .caixa_atores_mobile{
        display: none;
    }
    .caixa_imagem_ator_mobile{
        display: none;
    }
    .img_mobile{
        display: none;
    }
    .imagem_ator_mobile{
        display: none;
    }
    .caixa_historico_ator_mobile{
        display: none;
    }
    .historico_ator_mobile{
        display: none;
    }
    .caixa_retratio_ator_mobile{
        display: none;
    }
    .historico_ator_retratio_mobile{
        display: none;
    }
    .titulo_topico_mobile{
        display: none;
    }
    .caixa_retratio_ator_mobile{
        display: none;
    }
    .historico_ator_retratio_mobile{
        display: none;
    }
    .titulo_topico_mobile{
        display: none;
    }
    .conteudo_topico_mobile{
        display: none;
    }

    .filmes_participados_mobile{
        display: none;
    }



    /*********************FIM DO ATOR******************/




    /****************card Promoções*************************/
    .produto_promocao{
        width: 350px;
        height: 500px;
        margin-left: 25px;
        margin-top: 45px;
        margin-bottom: 25px;
        float: left;
        border: solid 4px rgb(177, 13, 13);
        border-radius: 15px; 
        background-color: rgb(34, 33, 33);
        
        /*font*/
        color:rgb(250, 239, 239);
        font-family: 'Arial Narrow', Arial, sans-serif;
    }


    .produto_promocao_mobile{
        display: none;
    }



    /***************************CAIXA PROMOÇÃO DESCRIÇÃO******************/

    .produto_caixa_descricao_promocao{
        width: inherit;
        height: 210px;
        padding-left: 5px;
        box-sizing: border-box;
        padding-right: 10px;
        /*font*/
        font-size: 21px;
        text-align: justify;
        font-family: 'Arial Narrow', Arial, sans-serif;
        line-height: 1.3;
    }

    .preco_promocoes{
        width: inherit;
        height: 35px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-top: 4px;
        text-align: center;
    }
    .caixa_preco_promocoes{
        width: inherit;
        height: 70px;
        margin-left: -5px;
        box-sizing: border-box;
    }




    .preco_promocoes_mobile{
        display: none;
    }
    .caixa_preco_promocoes_mobile{
        display: none;
    }

    .produto_caixa_descricao_promocao_mobile{
        display: none;
    }




    
    



    /*******************************FIM DA DESCRIÇÃO**************************/


    /***********************Filme do mes***********************/

    #caixa_fimel_do_mes{
        width: 1400px;
        min-height: 800px;
        height: auto;
        overflow: hidden;
        display: flex;

    }
    #caixa_capa_filme_do_mes{
        width: 700px; 
        float: left;
        box-sizing: border-box;
        padding-top: 50px;
    }
    #capa_filme_do_mes{
        width: 650px;
        height: 700px;
        overflow: hidden;
        margin-left: 20px;
        border-radius: 20px;
    }
    #caixa_informacoes_filme_do_mes{
        width: 700px;
        float: left;
        box-sizing: border-box;
        padding-bottom: 50px;
    }
    .informacoes_filme_do_mes{
        width: 600px;
        height: 90px;
        margin-top: 35px;
        box-sizing: border-box;
        padding-top: 20px;
        border-bottom: solid 2px white; 
        /*font*/
        font-family: baronBold;
        font-size: 25px;
        line-height: 1.2;
        color: white;
    }

    #menu_retratio_filme_do_mes{
        width: 1400px;
        min-height: 400px;
        height: auto;
        overflow: hidden;
        background-color: rgb(22, 22, 22);
        border-radius: 20px;
    }

    #caixa_fimel_do_mes_mobile{
        display: none;
    }
    #caixa_capa_filme_do_mes_mobile{
        display: none;
    }
    #caixa_informacoes_filme_do_mes_mobile{
        display: none;
    }
    .menu_retratio_filme_do_mes{
        display: none;
    }
    #informacoes_filme_do_mes_mobile{
        display: none;
    }
    #historico_ator_retratio_mobile{
        display: none;
    }

    /*************FIM DO FILME DO MÊS**************/

    /*MODAL PRODUTO*/

    #card_produto{
        width: inherit;
        min-height: 700px;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
        background-color: rgb(92, 92, 92);
    }
    #caixa_imagem_produto{
        width: 400px;
        height: 600px;
        float: left;
        box-sizing: border-box;
        padding-top: 20px;
    }
    #imagem_produto{
        width: 360px;
        height: 460px;
    }
    #caixa_especificacao_produto{
        width: 600px;
        height: 600px;
        float: left;
        box-sizing: border-box;
    }

    .especificacao{
        width: 500px;
        height: 80px;
        border-bottom: solid 3px rgb(58, 57, 57);
        box-sizing: border-box;
        padding-top: 25px;
        /*font*/
        color: rgb(197, 197, 197);
        font-family: baronBold;
        font-size: 25px;
    }
    #sinopse_modal{
        width: 1000px;
        height: 50px;
        background-color: aliceblue;
    }



    /*modal produto*/

    /*MODAL */
    #conteiner_produto{
        width: 100%;
        height: 100%;
        background-color: rgba(24, 23, 23, 0.664);
        position: fixed;
        box-sizing: border-box;
        padding-top: 130px;
        z-index: 999;
        display: none;
    }   

    #modal_produto{
        width: 1000px;
        min-height: 600px;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
    }


    #segurar_fechar_modal{
        width: 600px;
        height: 70px;
        margin-top: 40px;
    }

    #fechar_modal{
        width: 70px;
        height: 70px;
        position: fixed;
        margin-left: 530px;
    }


}


@media screen and (max-device-width:880px){
 /*conteudo*/

    .conteudo{
        width: 100%;
        /*para a div espandir*/
        min-height: 700px;
        height: auto;
        overflow: hidden;
        margin-top: 0px;
        box-sizing: border-box;

    }

    /*redes sociais*/
    .caixa_rede_social{
        display: none;
    }

    .rede_social{
        display: none;
    }

    .rede_social:hover{
        display: none;
    }

    /*fIM DAS REDES SOCIAIS*/

    /* caixa slider*/
    .slider{
    display: none;
    }

    #imagem_mobile{
        width: 100%;
        height: 800px;
    }
    /*FIM DA CAIXA SLIDER*/


    /*********************FIM MEU INTERNO DA PAGINA PRINCIPAL**************************/
    .item_conteudo{
        width: inherit;
        /***/
        min-height: 700px;
        height: auto;
        /* overflow: hidden; */

        display: flex;

    }

    /* .caixa_item{
        width: 200px;

        float: left;
        border: solid 3px rgba(122, 15, 15, 0.801);
    }

    .menu_item{
        width: inherit;
        min-height: 450px;
        height: 100%;
        overflow: hidden;
    }

    .menu_item ul{
        width: inherit;
        
        min-height: 450px;
        height: 100%;
        overflow: hidden;
        
        background-color: rgb(14, 13, 13);
    }

    .menu_item li{
        width: 170px;
        height: 50px;
        margin-top: 20px;
        list-style: none;
        box-sizing: border-box;
        padding-left:20px;
        padding-top: 10px;
        margin-left: 15px;
        margin-bottom: 15px;
        border: solid 1px rgb(39, 39, 39);
        transition: 0.5s;
        text-align: left;
        /*font
        font-size: 28px;
        font-family: MeganJune;
        color: white;
    }

    .menu_item li:hover {
        transition: 0.2s;
        transform: rotate(5deg) scale(1.05);
        cursor: pointer;
        color: rgb(187, 48, 48);
        border: solid 2px white;  
    } */

    .caixa_item{
       display: none;
    }

    .menu_item{
       display: none;
    }

    .menu_item ul{
       display: none;
    }

    .menu_item li{
        display: none;
    }





    /*********************FIM MEU INTERNO DA PAGINA PRINCIPAL**************************/
    .caixa_produto{
        width: inherit;
        /**/
        min-height: 451px;
        height: auto;
        overflow: hidden;
        
        float: left;
        border: solid 3px rgba(138, 7, 7, 0.589);
        background-color: rgb(14, 13, 13);
    }

    /*Card dos produtos*/
    .produto{
       display: none;
    }
    .produto_mobile{
        width: 800px;
        height: 1100px;
        margin-top: 50px;
        margin-bottom: 25px;
        border: solid 4px rgb(177, 13, 13);
        border-radius: 15px; 
        background-color: w;
        
        /*font*/
        color:rgb(250, 239, 239);
        font-family: 'Arial Narrow', Arial, sans-serif;
    }

    .produto_caixa_imagem{
        display: none;
    }
    .produto_caixa_imagem_mobile{
        width: inherit;
        height: 600px;
        padding-top: 24px;
        box-sizing: border-box;
    }

    .produto_imagem{
       display: none;
    }
    .produto_imagem_mobile{
        width: 460px;
        height: 550px;
        background-color: gray;
        transition: 0.5s;
    }

    .produto_imagem_mobile:hover{
        transition: 0.5s;
        cursor: pointer;
        transform:  scale(1.05);
    }

    .produto_caixa_descricao{
        display: none;
    }
    
    .produto_caixa_descricao_mobile{
        width: inherit;
        height: 400px;
        padding-left: 5px;
        box-sizing: border-box;
        /*font*/
        font-size: 50px;
        font-family: 'Arial Narrow', Arial, sans-serif;
        line-height: 1.3;
    }
    
    .produto_caixa_detalhes{
       display: none;
    }
    
    .produto_caixa_detalhes_mobile{
        width: inherit;
        height: 90px;
        padding-left: 300px;
        box-sizing: border-box;
        padding-top: 10px;
        /*font*/
        font-size: 20px;
        letter-spacing: 1.5px;
        line-height: 8px;
    }

    .botao_detalhes{
        display: none;
    }

    .botao_detalhes_mobile{
        width: 210px;
        height: 70px;
        border-radius: 10px; 
        padding-left: 15px;
        padding-top: 30px;
        box-sizing: border-box;
        background-color: rgb(133, 131, 131); 
    }

    .botao_detalhes_mobile:hover{
        transform: scale(1.2);
        cursor: pointer;
    }   

    p{
        margin-bottom: 5px;
    }

/*FIM DO CAR DOS PRODUTOS E DA PAGINA PRICIPAL*/

    /****************card Promoções*************************/
    .produto_promocao{
        display: none;
    }


    .produto_promocao_mobile{
        width: 1000px;
        min-height: 700px;
        height: auto;
        overflow: hidden;
        margin-top: 45px;
        margin-bottom: 25px;
        border: solid 4px rgb(177, 13, 13);
        border-radius: 15px; 
        background-color: rgb(34, 33, 33);
        
        /*font*/
        color:rgb(250, 239, 239);
        font-family: 'Arial Narrow', Arial, sans-serif;
    }



    /***************************CAIXA PROMOÇÃO DESCRIÇÃO******************/

    .produto_caixa_descricao_promocao{
      display: none;
    }

    .preco_promocoes{
        display: none;
    }
    .caixa_preco_promocoes{
        display: none;
    }


    .produto_caixa_descricao_promocao{
      display: none;
    }



    .produto_caixa_descricao_promocao_mobile{
        width: inherit;
        height: 550px;
        padding-left: 5px;
        box-sizing: border-box;
        padding-right: 10px;
        /*font*/
        font-size: 55px;
        text-align: justify;
        font-family: 'Arial Narrow', Arial, sans-serif;
        line-height: 1.3;
    }

    .preco_promocoes_mobile{
        width: inherit;
        height: 100px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-top: 4px;
        text-align: center;
        font-size: 55px;
    }
    .caixa_preco_promocoes_mobile{
        width: inherit;
        height: 200px;
        margin-left: -5px;
        box-sizing: border-box;
    }




    
    



    /*******************************FIM DA DESCRIÇÃO**************************/





    /**********************Atores do filme*************************/

    #caixa_atores{
       display: none;
    }

    #caixa_atores_mobile{
        width: 100%;
        min-height: 1000px;
        height: auto;
        box-sizing: border-box;
        padding-bottom: 40px;
        padding-top: 10px;
        border-radius: 20px;
        background-color:  rgb(22, 22, 22);
    }

    #caixa_imagem_ator{
       display: none;
    }
    #caixa_imagem_ator_mobile{
        width: 700px;
        height: 700px;;
        box-sizing: border-box;
        margin-top: 10px;
    }


    #imagem_ator{
        display: none;
    }
    #imagem_ator_mobile{
        width: 700px;
        height: 700px;
        overflow: hidden;    
        border-radius: 50px;
    }
    #caixa_historico_ator{
       display: none;
    }
    #caixa_historico_ator_mobile{
        width: inherit;
        min-height: 600px;
        height: auto;
        overflow: hidden;
        margin-top: 25px;
        padding-top: 5px;
        box-sizing: border-box;
    }

    .historico_ator{
        display: none;
    }
    
    .historico_ator_mobile{
        width: 900px;
        height: 100px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 15px;
        padding-left: 20px;
        border-bottom: solid 2px white;
        /*fonte*/
        font-size: 35px;
        color: rgb(212, 211, 211);
        font-family: baronBold;
    }

    .titulo_topico{
       display: none;
    } 
    .titulo_topico_mobile{
        font-size: 45px;
        color: rgb(226, 223, 223);
        font-family: baronBold;
        font-weight: bold;
    }   

    /* cass para caixa retratio*/
    .linha_historico{
        vertical-align: top;
        min-height: 80px;
        height: auto !important;
        margin-bottom: 20px;
    }
    /*class que vai tirar o conteúdo*/
    .caixa_conteudo_hide {
        display:none; 
        box-sizing: border-box;
    }
    /*class parar organizar o conteúdo*/
    .conteudo_topico_mobile{
        width: inherit;
        height: inherit;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: justify;
        word-wrap: break-word;
        font-family: CabinMedium;
        font-size: 45px;
        line-height: 70px;
    }
    .conteudo_topico{
        display: none;
    }
    /*caixa que segura os filmes participados*/
    .filme_participado{
        width: inherit;
        min-height: 200px;
        height: auto;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    /*filmes de participação em cartaz*/
    .filmes_participados{
       display: none;
    }
    .filmes_participados_mobile{
        width: 950px;
        height: 1350px;
        margin-top: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 0px 0px 40px 40px;
        border: solid 3px rgb(96, 96, 99);
    }

    /*Class para menu retratio*/

    .show {
        display: none; 
    }
    .hide:target + .show {
    display: inline; 
    }
    .hide:target {
        display: none; 
    }
    .hide:target ~ .caixa_conteudo_hide {
        display:inline; 
    }

    @media print{ 
        .hide, .show{ 
            display: none; 
        }
    }

    /*fim de class para menu retratio*/
    #caixa_retratio_ator{
       display: none;
    }
    #caixa_retratio_ator_mobile{
        width: 100%;
        min-height: 400px;
        height: auto;
        overflow: hidden;
        padding-bottom: 20px;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color:  rgb(22, 22, 22);
    }

    /*MENU RETRATIO GRANDE*/
    .historico_ator_retratio{
      display: none;
    }

    .historico_ator_retratio_mobile{
        width: 900px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 20px;
        border-bottom: solid 2px white;
        /*fonte*/
        font-size: 25px;
        color: rgb(212, 211, 211);
        font-family: baronBold;
    }

    /*********************FIM DO ATOR******************/

    
    /***********************Filme do mes***********************/

    #caixa_fimel_do_mes{
        display: none;
    }
    #caixa_fimel_do_mes_mobile{
        width: 1400px;
        min-height: 800px;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
        background-color: rgb(22, 22, 22);
    }

    #caixa_capa_filme_do_mes{
        display: none;
    }

    #caixa_capa_filme_do_mes_mobile{
        width: 900px; 
        height: 1160PX;
        padding-top: 50px;
        box-sizing: border-box;
    }

    #capa_filme_do_mes{
        display: none;
    }

    #capa_filme_do_mes_mobile{
        width: 850px;
        height: 1060px;
        overflow: hidden;
        margin-left: 20px;
        border-radius: 20px;
    }

    #caixa_informacoes_filme_do_mes{
        display: none;
    }
    
    #caixa_informacoes_filme_do_mes_mobile{
        width: 1300px;
        height: 1400px;
        box-sizing: border-box;
        padding-bottom: 50px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .informacoes_filme_do_mes{
        display: none;
    }

    .informacoes_filme_do_mes_mobile{
        width: 1250px;
        height: 200px;
        margin-top: 35px;
        box-sizing: border-box;
        padding-top: 25px;
        border-bottom: solid 2px white; 
        /*font*/
        font-family: baronBold;
        font-size: 54px;
        line-height: 1.2;
        color: white;
    }

    #menu_retratio_filme_do_mes{
        display: none;
    }

    #menu_retratio_filme_do_mes_mobile{
        width: 1400px;
        min-height: 400px;
        height: auto;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgb(22, 22, 22);
        border-radius: 20px;
    }

/*************FIM DO FILME DO MÊS**************/
    
    /*LOJAS*/

    #caixa_lojas{
        display: none;
    }
    #caixa_lojas_mobile{
        width: 100%;
        min-height: 700px;
        height: auto;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgb(22, 22, 22);
        border-radius: 20px; 
    }

    #caixa_iFrame_maps{
        display: none;
    }

    #caixa_iFrame_maps_mobile{
        width: inherit;
        height: 800px;
        box-sizing: border-box;
    }

    #iFrame_maps{
        display: none;
    }

    #iFrame_maps_mobile{
        width: inherit;
        height: inherit;
    }
    
    #maps{
     display: none;
    }

    #maps_mobile{
        width: inherit;
        height: inherit; 
        font-size: 100px;
        border:solid 2px black;
    }
    
    #caixa_coodernadas{
        display: none;
    }

    #caixa_coodernadas_mobile{
        width: inherit;
        height: 1000px;
        overflow: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        box-sizing: border-box;
    }


    .coodernadas_mobile{
        width: 900px;
        height: 160px;
        margin-top: 30px;
        margin-bottom: 60px;
        box-sizing: border-box;
        padding-top: 40px;
        padding-left: 60px;
        border-radius: 15px;
        box-shadow: 2px 4px 10px rgb(185, 182, 182);
        /*font*/
        font-size: 2.5em;
        font-family: robotoLight;
        color: white;
    }
    .coodernadas_mobile:hover{
        color: orange;
        transform: scale(1.03);
        cursor: pointer;
    }


    /**********************lojas*************************/

    /*******************CONTATO********************************/

    #caixa_segura_contato{
     display: none;
    }

    #caixa_segura_contato_mobile{
        width: 1400px;
        min-height: 600px;
        height: auto;
        overflow: hidden;
        margin-top: 80px;
        margin-bottom: 125px;
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: 20px;
    }

    #caixa_contato{
        display: none;
    }

    #caixa_contato_mobile{
        width: 1300px;
        min-height: 800px;
        height: auto;
        overflow: hidden;
        border-radius: 15px;
        box-sizing: border-box;
        padding-top: 1px;
        padding-bottom: 20px;
        background-color: rgb(82, 79, 79);
    }

    .caixa_Input_text{
        display: none;
    }

    .caixa_Input_text_mobile{
        width: 1250px;
        height: 200px;
        margin-left: 20px;
        margin-top: 25px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 5px;
        background-color: rgb(238, 238, 238);
    }

    .iconContatos{
        display: none;
    }
    .iconContatos_mobile{
        width: 190px;
        height: 190px;
        box-sizing: border-box;
        float: left;
    }
    .inputContato{
        display: none;
    }
    .inputContato_mobile{
        width: 930px;
        height: 190px;
        float: left;
        border: none;
        margin-left: 10px;
        /*font*/
        font-family: MeganJune;
        font-size: 80px;
        background-color:inherit;
    }
    .inputContato_mobile:focus{
        outline: none;
    }

    #caixa_contato_esquerda{
        display: none;
    }

    #caixa_contato_esquerda_mobile{
        width: 1300px;
        min-height: 800px;
        height: auto;
        overflow: hidden;
        border-radius: 15px;
        box-sizing: border-box;
        padding-top: 1px;
        margin-top: 50px;
        background-color: rgb(82, 79, 79);
    }

    .caixa_Input_radio{
     display: none;
    }

    .caixa_Input_radio_mobile{
        width: 1250px;
        height: 200px;
        margin-top: 30px;
        box-sizing: border-box;
        padding-top: 40px;
        padding-left: 100px;
        background-color: rgb(238, 238, 238);
    }
    .radio{
        width: 60px;
        height: 60px;
    }

    .radio_contato{
        display: none;
    }

    .radio_contato_mobile{
        font-size: 120px;
        margin-left: 50px;
        font-weight: bold;
        font-family: MeganJune;
        cursor: pointer;
        margin-right: 60px;
    }

    .caixa_text_area{
     display: none;
    }
    .caixa_text_area_mobile{
        width: 1000px;
        height: 350px;
        margin-top: 20px;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 40px;
    }

    .caixa_cmb_mobile{
        width: inherit;
        height: 270px;
        margin-top: 30px;
        padding-top: 16px;
        box-sizing: border-box;
        border-top: solid 2px  rgb(53, 53, 52);
        border-bottom: solid 2px rgb(53, 53, 52);
    }
    .caixa_cmb{
        display: none;
    }

    #selectAssunto_mobile{
        width: 800px;
        height: 230px;
        padding-left: 5px;
        border-radius: 50px;
        margin-left: 250px;
        font-family:  MeganJune;
        font-size: 83px;
    }

    #selectAssunto{
        display: none;
    }

    .textArea_cotato_mobile{
        width: 900px;
        height: 300px;
        resize: none;
        border-radius: 10px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 5px;
        font-family: MeganJune;
        background-color: rgb(238, 238, 238);
        font-size: 80px;
    }
    .textArea_cotato{
        display: none;
    }

    .textArea_cotato_mobile:focus{
        outline: none;
    }
    #caixa_boato_contato_mobile{
        width: 800px;
        height: 130px;
        margin-top: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 80px;
    }
    #caixa_boato_contato{
        display: none;
    }
    .botao_contato_mobile{
        width: 300px;
        height: 100px;
        background-color: rgb(238, 238, 238);
        color: black;
        border: solid 1px black;
        margin-right: 30px;
        font-family: MeganJune;
        font-size: 60px;
        transition: 0.2s;
    }
    .botao_contato{
        display: none;
    }

    .botao_contato_mobile:hover{
        transition: 0.3s;
        cursor: pointer;
        background-color: black;
        color: white;
        border: solid 1px white;
    }

    /*************************CONTATO*******************/
    
    /***************sobre a locadora**********************/

    #conteudo_sobre{
        display: none;
    }

    #conteudo_sobre_mobile{
        width: 1400px;
        min-height: 800px;
        height: auto;
        overflow: hidden;
        margin-top: 60px;
        margin-bottom: 60px;
        box-sizing: border-box;
        border-radius: 20px;
    }


    #titulo_sobre{
        display: none;
    }

    #titulo_sobre_mobile{
        width: inherit;
        height: 150px;
        box-sizing: border-box;
        padding-top: 35px;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(253, 61, 61);
        /*fonte*/
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: baronBold;
        font-size: 100px;
        font-weight: bold;
    }


    #quemSomos_sobre{
        display: none
    }

    #quemSomos_sobre_mobile{
        width: inherit;
        min-height: 500px;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 50px;
        border-radius: 20px 20px 20px 20px;
        background-color: rgb(24, 23, 23);
    }

    #caixa_texto_quemSomos{
        display: none;
    }

    #caixa_texto_quemSomos_mobile{
        width: inherit;
        min-height: 500px;
        height: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        /**/
    }

    #texto_quemSomos{
        display: none;
    }

    #texto_quemSomos_mobile{
        width: 1250px;
        height: 1100px;
        overflow: auto;
        box-sizing: border-box;
        padding: 30px;
        border-radius: 20px;
        background-color: rgb(107, 109, 109);
        word-wrap: break-word;
        /**/
        font-size: 60px;
        color: white;
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
    }

    


    #imagem_quemSomos{
        width: 1250px;
        height: 1000px;
        border-radius: 20px;
    }

    #lojaAntiga{
        border-radius: 20px;
    }
    /*********************SOBRE*********************************/



}
