
@media screen and (min-device-width:1000px){
    #header_computador{
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        padding-top: 10px;
        position: fixed;
        z-index: 990;
        background-color: black;
    }
    .segura_conteudo{
        width: 100%;
        height: 100px;
    }
    
    .conteudo_header{
        width: 1400px;
        height: inherit;
        box-sizing: border-box;
        padding-top: 10px;
    }
    
    .logo{
        width: 200px;
        height: 80px;
        float: left;
    }
    
    .menu{
        width: 820px;
        height: 80px;
        margin-left: 20px;
        float: left;
    }
    
    .menu ul{
        width: inherit;
        height: inherit;
    }
    
    .liHeader{
        width: 130px;
        height: 55px;
        box-sizing: border-box;
        padding-top: 14px;
        margin-top: 10px;
        margin-left: 5px;
        float: left;
        list-style: none;
        /*font*/
        text-align: center;
        font-weight: bold;
        font-family: MeganJune;
        color: white;
        font-size: 26px;
        transition: 0.3s;
    }
    
    .liHeader:hover{
        transition: 0.5s;
        transform: scale(1.1);
        color: rgb(170, 36, 36);
        cursor: pointer;
    }
    
    
    .login{
        width: 330px;
        height: 80px;
        margin-left: 20px;
        background-color: darkgreen;
        float: left;
        /**/
        color: white;
    }
    
    .login_usuario{
        width: 150px;
        height: inherit;
        float: left;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 5px;
        background-color: black;
        font-family: MeganJune;
    }
    
    .login_senha{
        width: 180px;
        height: inherit;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 5px;
        float: left;
        background-color: black;
        font-family: MeganJune;
    }
    
    .caixaTexto{
        width: 100px;
        height: 30px;
        border: solid 1px rgb(0, 160, 253);
        box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.459);
        font-family: sans-serif;
        font-size: 20px;
        border-radius: 5px;
        padding-left: 10px;
    }
    
    .botao_usuario{
        width: 50px;
        height: 30px;
        margin-left: 5px;
        margin-top: -5px;
        border-radius: 10px;
        transition: 0.4s;
        font-size: 15px;
        background-color: rgb(48, 47, 47);
        border: solid 1px aliceblue;  
        color: white;
        font-family: CabinMedium;
    }
    
    .botao_usuario:hover{
        transition: 0.4s;
        transform: scale(1.1);
        padding-top: 3px;
        color: orange;
        border: solid 3px yellow; 
    }

     /*mobile*/
     #header_modile{
       display: none;
    }

    .segura_menu_mobile{
        display: none;
    }

    .logo_site_mobile{
        display: none;
    }

    
}

@media screen and (max-device-width:880px){
    #header_computador{
       display: none;
    }
    
    .conteudo_header{
        display: none;
    }
    
    .logo{
        display: none;
    }
    
    .menu{
        display: none;
    }
    
    .menu ul{
        display: none;
    }
    
    .liHeader{
        display: none;
    }
    
    .liHeader:hover{
        display: none;
    }
    
    
    .login{
        display: none;
    }
    
    .login_usuario{
        display: none;
    }
    
    .login_senha{
        display: none;
    }
    
    .caixaTexto{
        display: none;
    }
    
    .botao_usuario{
        display: none;
    }
    
    .botao_usuario:hover{
        display: none; 
    }


    /*mobile*/
    #header_modile{
        width: 100%;
        height: 140px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.966);
        position: fixed;
    }

    .segura_conteudo{
        width: 100%;
        height: 140px;
    }

    .segura_menu_mobile{
        width: 153px;
        height: inherit;
        background-image: url(../img/icon_menu_mobile.png);
        float: left;
        margin-left: 10px;
    }

    #ul_menu_mobile{
        width: 100%;
        height: 1100px;
        margin-top: 135px;
        box-sizing: border-box;
        padding-top: 5px;
        display: none;
        background-color: rgba(0, 0, 0, 0.966);
        z-index: 996;
    }
    
    .itens{
        width: 900px;
        height: 100px;
        font-size: 50px;
        background-color: rgb(61, 61, 61);
        padding-top: 15px;
        text-align: center;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        text-decoration: none;
        margin-top: 50px;
        /*Font*/
        font-family: MeganJune;
        font-size: 65px;
    }

    /*class de abertura do menu*/
    .menu_mobile_open{
        margin-left: -10px;
        visibility: visible;
        transition: 1s; 
    }
    /*Class de fechamento do menu*/
    .menu_mobile_close{
        margin-left: -200px;
        visibility: hidden;
        transition: 1s;
    }



    .logo_site_mobile{
        width: 330px;
        height: 135px;
        float: left;
        margin-left: 200px;
    }

}