/*CSS*/
*,figure{
    margin: 0;
    padding: 0; 
    
}
a{
    text-decoration: none;
    color: white;
}

.formata_atributo{
    font-weight: bold;
    font-size: 20px;
    font-family: robotoLight;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.border-img{
    border-radius: inherit;
}

.imgSlider{
    display: none;
}

.img-size{
    width: inherit;
    height: inherit;
}

.back-size{
    background-repeat: no-repeat;
    background-size: cover;
}

.alinhafigura{
    width: inherit;
    height: inherit;
}

body{
    background-image: url(../img/bgAcme.jpg);
}


header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    background-color: black;
}
.segura_conteudo{
    width: 100%;
    height: 100px;
}

.conteudo_header{
    width: 1400px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 10px;
}

.logo{
    width: 200px;
    height: 80px;
    float: left;
}

.menu{
    width: 820px;
    height: 80px;
    margin-left: 20px;
    float: left;
}

.menu ul{
    width: inherit;
    height: inherit;
}

.menu li{
    width: 130px;
    height: 55px;
    box-sizing: border-box;
    padding-top: 14px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    list-style: none;
    /*font*/
    text-align: center;
    font-weight: bold;
    font-family: MeganJune;
    color: white;
    font-size: 26px;
}

.menu li:hover{
    transition: 0.5s;
    transform: scale(1.2);
    color: orange;
    border: solid 3px yellow;
    cursor: pointer;
}


.login{
    width: 330px;
    height: 80px;
    margin-left: 20px;
    background-color: darkgreen;
    float: left;
    /**/
    color: white;
}

.login_usuario{
    width: 150px;
    height: inherit;
    float: left;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    background-color: black;
    font-family: MeganJune;
}

.login_senha{
    width: 180px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    float: left;
    background-color: black;
    font-family: MeganJune;
}

.caixaTexto{
    width: 100px;
    height: 30px;
    border: solid 1px rgb(0, 160, 253);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.459);
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 10px;
}

.botao_usuario{
    width: 50px;
    height: 30px;
    margin-left: 5px;
    margin-top: -5px;
    border-radius: 10px;
    transition: 0.4s;
    font-size: 15px;
    background-color: rgb(48, 47, 47);
    border: solid 1px aliceblue;  
    color: white;
    font-family: CabinMedium;
}

.botao_usuario:hover{
    transition: 0.4s;
    transform: scale(1.1);
    padding-top: 3px;
    color: orange;
    border: solid 3px yellow; 
}


/*conteudo*/

#conteudo{
    width: 1400px;
    /*para a div espandir*/
    min-height: 700px;
    height: auto;
    overflow: hidden;
    margin-top: 0px;
    box-sizing: border-box;
    background-color: crimson;
}

/*redes sociais*/
.caixa_rede_social{
    width: 160px;
    height: 500px;
    margin-left: 1410px;
    margin-top: -500px;
    box-sizing: border-box;
    padding-top: 100px;
    position: fixed;
}

.rede_social{
    width: 100px;
    height: 100px;
    margin-left: 4px;
    margin-top: 20px; 
    border: solid 2px black;
    border-radius: 50px;
    transition: 0.5s;
}

.rede_social:hover{
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}



/*caixa slider*/
#slider{
    width: 1400px;
    height: 750px;
    box-sizing: border-box;
    padding-top: 5px;
    z-index: 0;
    background-color: black;
}

/*conteudo-item*/
#item_conteudo{
    width: inherit;
    /***/
    min-height: 700px;
    height: auto;
    /* overflow: hidden; */

    display: flex;

    background-color: rgb(48, 46, 46);
}

#caixa_item{
    width: 200px;

    float: left;
    border: solid 3px rgba(122, 15, 15, 0.801);
}

#menu_item{
    width: inherit;
    
    min-height: 450px;
    height: 100%;
    overflow: hidden;
}

#menu_item ul{
    width: inherit;
    
    min-height: 450px;
    height: 100%;
    overflow: hidden;
    
    background-color: rgb(14, 13, 13);
}

#menu_item li{
    width: 170px;
    height: 50px;
    margin-top: 20px;
    list-style: none;
    box-sizing: border-box;
    padding-left:20px;
    padding-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: solid 1px rgb(39, 39, 39);
    transition: 0.5s;
    text-align: left;
    /*font*/
    font-size: 28px;
    font-family: MeganJune;
    color: white;
}

#menu_item li:hover {
    transition: 0.2s;
    transform: rotate(5deg) scale(1.1);
    cursor: pointer;
    color: orange;
    border: solid 5px yellow;  
}

#caixa_produto{
    width: 1186px;
    /**/
    min-height: 451px;
    height: auto;
    overflow: hidden;
    
    margin-left: 5px;
    float: left;
    border: solid 3px rgba(138, 7, 7, 0.589);
    background-color: rgb(14, 13, 13);
}

/*Card dos produtos*/
.produto{
    width: 350px;
    height: 450px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    float: left;
    border: solid 4px rgb(177, 13, 13);
    border-radius: 15px; 
    background-color: rgb(34, 33, 33);
    
    /*font*/
    color:rgb(250, 239, 239);
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.produto_caixa_imagem{
    width: inherit;
    height: 250px;
    padding-top: 24px;
    box-sizing: border-box;
}

.produto_imagem{
    width: 180px;
    height: 200px;
    background-color: gray;
    transition: 0.5s;
}

.produto_imagem:hover{
    transition: 0.5s;
    cursor: pointer;
    transform:  scale(1.2);
}

.produto_caixa_descricao{
    width: inherit;
    height: 160px;
    padding-left: 5px;
    box-sizing: border-box;
    /*font*/
    font-size: 22px;
}

.produto_caixa_detalhes{
    width: inherit;
    height: 40px;
    padding-left: 230px;
    box-sizing: border-box;
    padding-top: 5px;
    /*font*/
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 8px;
}

.botao_detalhes{
    width: 90px;
    height: 30px;
    border-radius: 10px; 
    padding-top: 15px;
    box-sizing: border-box;
    /* background-color: chocolate; */
}

.botao_detalhes:hover{
    transform: scale(1.2);
    cursor: pointer;
}   

p{
    margin-bottom: 5px;
}

/*FOOTER*/
footer{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: rgb(14, 13, 13);
}

.caixa_footer{
    width: 1400px;
    height: 200px;
}

.caixa_horario{
    width: 500px;
    height: inherit;
    margin-left: 50px;
    border-right: solid 2px rgb(51, 51, 50);
    margin-right: 10px;
    float: left;
}

.iconFooter{
    width:  80px;
    height: 80px;
    border-right: solid 2px rgb(197, 114, 6);
    float: left;
}

.horarioAtendimento{
    width: 400px;
    height: 80px;
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    float: left;
    /*font*/
    font-size: 30px;
    font-weight: bold;
    color:  rgba(255, 145, 0, 0.932);
    font-family: baronBold;
}

.horarios{
    width: 500px;
    height: 110px;
    box-sizing: border-box;
    padding-top: 15px;
    clear: both;
    /**font*/
    font-size: 35px;
    text-align: center;
    color:  rgb(238, 147, 29);
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.caixa_contatos{
    width: 400px;
    height: inherit;
    border-right: solid 2px rgb(51, 51, 50);
    float: left;
    margin-right: 10px;
}

.tituloContatos{
    width: 200px;
    height: 80px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 16px;
    float: left;
    /**/
    font-size: 26px;
    font-weight: bold;
    font-family: baronBold;
    color:  rgba(255, 145, 0, 0.932);
}

.numeros{
    width: inherit;
    height: 120px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 15px;
    clear: both;
    /*font*/
    font-size: 26px;
    text-align: center;
    color:  rgba(255, 145, 0, 0.932);
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.caixa_endereco{
    width: 400px;
    height: inherit;
    float: left;
}

.tituloEndereco{
    width: 300px;
    height: 80px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 10px;
    float: left;
    /**/
    font-size: 35px;
    font-weight: bold;
    font-family: baronBold; 
    color:  rgba(255, 145, 0, 0.932);
}
.enredeco{
    width: inherit;
    height: 120px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    clear: both;
    /*font*/
    font-size: 25px;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color:  rgba(255, 145, 0, 0.932);
}


/*sobre a locadora*/

#conteudo_sobre{
    width: 1400px;
    min-height: 800px;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 20px;
}

#titulo_sobre{
    width: inherit;
    height: 90px;
    box-sizing: border-box;
    padding-top: 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(253, 61, 61);
    /*fonte*/
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: baronBold;
    font-size: 60px;
    font-weight: bold;
}

#quemSomos_sobre{
    width: inherit;

    min-height: 500px;
    height: auto;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(24, 23, 23);
}

#caixa_texto_quemSomos{
    width: 800px;
    min-height: 500px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    /**/
}

#texto_quemSomos{
    width: 750px;
    height: 520px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(107, 109, 109);
    /**/
    font-size: 26px;
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

#imagem_quemSomos{
    width: 500px;
    height: 480px;
    margin-left: 50px;
    margin-top: 35px;
    border-radius: 20px;
    float: left;
    background-color: darkblue;
}

#lojaAntiga{
    border-radius: 20px;
}

#imagem_sobre_back{
    width: 1400px;
    height: 500px;
    background-image: url(../img/LojasAcime/acmeSobre.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}